<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitoramento de tanques</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body class="bg-dark">
    <div class="container-sm text-center text-light">
        <h1 class="m-5">
            Monitoramento de tanques de combustíveis
            <hr>
        </h1>

        <a href="/gateway/logs">
            <button class="btn btn-secondary">logs</button>
        </a><br><br>
        
        {% if tanques|length > 0 %}
        {% for t in tanques %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title mb-4">
                    Tanque <a href="/tanque/{{ t.id }}">#{{ t.id }}</a>
                </h5>
                <div>
                    <p>Capacidade = {{ t.capacidade }}</p>
                    <p>{{ t.descricao }}</p>                    
                </div>
            </div>
        </div>
        <br>
        {% endfor %}
        {% else %}
        <h3 class="mt-4">Nenhum tanque cadastrado!</h3>
        {% endif %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
